USE [master]
GO
/****** Object:  Database [QLHS]    Script Date: 12/06/2019 03:19:15 ******/
CREATE DATABASE [QLHS]
 CONTAINMENT = NONE
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLHS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLHS]
GO
/****** Object:  StoredProcedure [dbo].[sp_LayDanhSachHocSinhChuaPhanLop]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_LayDanhSachHocSinhChuaPhanLop]
AS
	BEGIN TRAN
		SELECT HS.MAHS, HS.HOTEN 
		FROM HOCSINH HS
		WHERE HS.MAHS NOT IN (SELECT DISTINCT MAHS FROM QUATRINHHOC)
	COMMIT


GO
/****** Object:  StoredProcedure [dbo].[sp_LayDiemChiTietHocSinh]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_LayDiemChiTietHocSinh](@mahs char(5), @mahocky char(4), @manamhoc char(4))
AS
	BEGIN TRAN
		SELECT DISTINCT MH.TENMONHOC,
		(SELECT DIEM FROM CT_DIEMMON CTDM, QUATRINHHOC QTH, BANGDIEMMON BDM
		WHERE BDM.MAQTHOC = QTH.MAQTHOC AND CTDM.MABANGDIEMMON = BDM.MABANGDIEMMON AND MH.MAMONHOC = BDM.MAMONHOC AND
		QTH.MAHK = @mahocky AND QTH.MAHS = @mahs AND BDM.MAMONHOC = MH.MAMONHOC AND CTDM.MALHKT = 'LHKT01'
		AND QTH.MALOP IN (SELECT MALOP FROM KHOILOP WHERE MAKHOI IN (SELECT MAKHOI FROM NAMHOC WHERE MANAMHOC = @manamhoc))) AS DIEMMIENG,
		
		(SELECT DIEM FROM CT_DIEMMON CTDM, QUATRINHHOC QTH, BANGDIEMMON BDM
		WHERE BDM.MAQTHOC = QTH.MAQTHOC AND CTDM.MABANGDIEMMON = BDM.MABANGDIEMMON AND MH.MAMONHOC = BDM.MAMONHOC AND
		QTH.MAHK = @mahocky AND QTH.MAHS = @mahs AND BDM.MAMONHOC = MH.MAMONHOC AND CTDM.MALHKT = 'LHKT02'
		AND QTH.MALOP IN (SELECT MALOP FROM KHOILOP WHERE MAKHOI IN (SELECT MAKHOI FROM NAMHOC WHERE MANAMHOC = @manamhoc))) AS DIEM15P,
		
		(SELECT DIEM FROM CT_DIEMMON CTDM, QUATRINHHOC QTH, BANGDIEMMON BDM
		WHERE BDM.MAQTHOC = QTH.MAQTHOC AND CTDM.MABANGDIEMMON = BDM.MABANGDIEMMON AND MH.MAMONHOC = BDM.MAMONHOC AND
		QTH.MAHK = @mahocky AND QTH.MAHS = @mahs AND BDM.MAMONHOC = MH.MAMONHOC AND CTDM.MALHKT = 'LHKT03'
		AND QTH.MALOP IN (SELECT MALOP FROM KHOILOP WHERE MAKHOI IN (SELECT MAKHOI FROM NAMHOC WHERE MANAMHOC = @manamhoc))) AS DIEM1TIET,
		
		(SELECT DIEM FROM CT_DIEMMON CTDM, QUATRINHHOC QTH, BANGDIEMMON BDM
		WHERE BDM.MAQTHOC = QTH.MAQTHOC AND CTDM.MABANGDIEMMON = BDM.MABANGDIEMMON AND MH.MAMONHOC = BDM.MAMONHOC AND
		QTH.MAHK = @mahocky AND QTH.MAHS = @mahs AND BDM.MAMONHOC = MH.MAMONHOC AND CTDM.MALHKT = 'LHKT04'
		AND QTH.MALOP IN (SELECT MALOP FROM KHOILOP WHERE MAKHOI IN (SELECT MAKHOI FROM NAMHOC WHERE MANAMHOC = @manamhoc))) AS DIEMTHI,
		
		(SELECT DIEMTB FROM QUATRINHHOC QTH, BANGDIEMMON BDM
		WHERE BDM.MAQTHOC = QTH.MAQTHOC AND
		QTH.MAHK = @mahocky AND QTH.MAHS = @mahs AND BDM.MAMONHOC = MH.MAMONHOC AND MH.MAMONHOC = BDM.MAMONHOC
		AND QTH.MALOP IN (SELECT MALOP FROM KHOILOP WHERE MAKHOI IN (SELECT MAKHOI FROM NAMHOC WHERE MANAMHOC = @manamhoc))) AS DIEMTBHK

		FROM MONHOC MH

	COMMIT


GO
/****** Object:  StoredProcedure [dbo].[sp_LayDiemHocSinhTheoLop]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_LayDiemHocSinhTheoLop](@malop char(5))
AS
	BEGIN TRAN
		SELECT DISTINCT HS.MAHS, HOTEN,
		(SELECT DIEMTBHK FROM QUATRINHHOC QTH1 WHERE QTH1.MAHS = HS.MAHS AND QTH1.MAHK = 'HK01') AS DIEMTBHK1,
		(SELECT DIEMTBHK FROM QUATRINHHOC QTH1 WHERE QTH1.MAHS = HS.MAHS AND QTH1.MAHK = 'HK02') AS DIEMTBHK2
		FROM QUATRINHHOC QTH, HOCSINH HS, LOP
		WHERE QTH.MAHS = HS.MAHS AND QTH.MALOP = LOP.MALOP AND LOP.MALOP = @malop
	COMMIT


GO
/****** Object:  StoredProcedure [dbo].[sp_LayDiemMonHocTheoLop]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_LayDiemMonHocTheoLop](@malop char(5), @mahocky char(4), @mamonhoc char(4))
AS
	BEGIN TRAN
		
		SELECT DISTINCT HS.MAHS, HS.HOTEN,
		(SELECT DIEM FROM CT_DIEMMON CTDM, QUATRINHHOC QTH, BANGDIEMMON BDM
		WHERE BDM.MAQTHOC = QTH.MAQTHOC AND CTDM.MABANGDIEMMON = BDM.MABANGDIEMMON AND MH.MAMONHOC = BDM.MAMONHOC AND
		QTH.MAHK = @mahocky AND QTH.MAHS = HS.MAHS AND BDM.MAMONHOC = @mamonhoc AND CTDM.MALHKT = 'LHKT01') AS DIEMMIENG,
		
		(SELECT DIEM FROM CT_DIEMMON CTDM, QUATRINHHOC QTH, BANGDIEMMON BDM
		WHERE BDM.MAQTHOC = QTH.MAQTHOC AND CTDM.MABANGDIEMMON = BDM.MABANGDIEMMON AND MH.MAMONHOC = BDM.MAMONHOC AND
		QTH.MAHK = @mahocky AND QTH.MAHS = HS.MAHS AND BDM.MAMONHOC = @mamonhoc AND CTDM.MALHKT = 'LHKT02') AS DIEM15P,
		
		(SELECT DIEM FROM CT_DIEMMON CTDM, QUATRINHHOC QTH, BANGDIEMMON BDM
		WHERE BDM.MAQTHOC = QTH.MAQTHOC AND CTDM.MABANGDIEMMON = BDM.MABANGDIEMMON AND MH.MAMONHOC = BDM.MAMONHOC AND
		QTH.MAHK = @mahocky AND QTH.MAHS = HS.MAHS AND BDM.MAMONHOC = @mamonhoc AND CTDM.MALHKT = 'LHKT03') AS DIEM1TIET,
		
		(SELECT DIEM FROM CT_DIEMMON CTDM, QUATRINHHOC QTH, BANGDIEMMON BDM
		WHERE BDM.MAQTHOC = QTH.MAQTHOC AND CTDM.MABANGDIEMMON = BDM.MABANGDIEMMON AND MH.MAMONHOC = BDM.MAMONHOC AND
		QTH.MAHK = @mahocky AND QTH.MAHS = HS.MAHS AND BDM.MAMONHOC = @mamonhoc AND CTDM.MALHKT = 'LHKT04') AS DIEMTHI
		
		FROM MONHOC MH, QUATRINHHOC QTH, HOCSINH HS
		WHERE MAMONHOC = @mamonhoc AND HS.MAHS IN (SELECT DISTINCT MAHS FROM QUATRINHHOC WHERE MALOP = @malop AND MAHK = @mahocky)

	COMMIT



GO
/****** Object:  StoredProcedure [dbo].[sp_LayDSHSDaPhanLop]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_LayDSHSDaPhanLop]
AS
	BEGIN
		SELECT MAHS, HOTEN FROM HOCSINH WHERE MAHS IN (SELECT DISTINCT MAHS FROM QUATRINHHOC)
	END


GO
/****** Object:  StoredProcedure [dbo].[sp_LayHocSinhTheoLop]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_LayHocSinhTheoLop](@malop char(5), @mahk char(4))
AS
	BEGIN
		SELECT DISTINCT HS.MAHS, HOTEN 
		FROM HOCSINH HS JOIN QUATRINHHOC QTH 
		ON HS.MAHS = QTH.MAHS
		WHERE QTH.MALOP = @malop AND QTH.MAHK = @mahk
	END


GO
/****** Object:  StoredProcedure [dbo].[sp_LayNamHocTheoMaHS]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_LayNamHocTheoMaHS](@mahs char(5))
AS
	BEGIN
		SELECT MANAMHOC, TENNAMHOC 
		FROM NAMHOC 
		WHERE MANAMHOC IN (SELECT MANAM 
						   FROM KHOILOP
						   WHERE MAKHOI IN (SELECT MAKHOI
											FROM LOP
											WHERE MALOP IN (SELECT MALOP
															FROM QUATRINHHOC
															WHERE QUATRINHHOC.MAHS = @mahs)))
	END


GO
/****** Object:  StoredProcedure [dbo].[sp_LayQTHCuaHocSinh]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_LayQTHCuaHocSinh] (@mahs char(5))
AS
	BEGIN
		
		SELECT DISTINCT (SELECT TENNAMHOC FROM NAMHOC 
						 WHERE MANAMHOC IN (SELECT MANAM FROM KHOILOP 
											WHERE MAKHOI IN (SELECT MAKHOI FROM LOP
															 WHERE MALOP = QTH.MALOP))) AS TENNAMHOC, TENHOCKY, TENLOP, DIEMTBHK
		FROM NAMHOC, HOCKY, LOP, QUATRINHHOC QTH
		WHERE QTH.MALOP = LOP.MALOP AND QTH.MAHK = HOCKY.MAHK
				
		AND QTH.MAHS = @mahs
		ORDER BY TENNAMHOC, TENHOCKY
	END

GO
/****** Object:  StoredProcedure [dbo].[sp_LuuQuyDinh]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_LuuQuyDinh](@tuoitoithieu float, @tuoitoida float, @sisotoida float, @diemtoithieu float, @diemtoida float, @diemdatmon float, @diemdat float)
AS
	BEGIN TRAN
		UPDATE THAMSO
		SET GIATRI = @tuoitoithieu
		WHERE TENTHAMSO ='TUOITOITHIEU'

		UPDATE THAMSO
		SET GIATRI = @tuoitoida
		WHERE TENTHAMSO ='TUOITOIDA'

		UPDATE THAMSO
		SET GIATRI = @sisotoida
		WHERE TENTHAMSO ='SISOTOIDA'

		UPDATE THAMSO
		SET GIATRI = @diemtoithieu
		WHERE TENTHAMSO ='DIEMTOITHIEU'

		UPDATE THAMSO
		SET GIATRI = @diemtoida
		WHERE TENTHAMSO ='DIEMTOIDA'

		UPDATE THAMSO
		SET GIATRI = @diemdat
		WHERE TENTHAMSO ='DIEMDAT'

		UPDATE THAMSO
		SET GIATRI = @diemdatmon
		WHERE TENTHAMSO ='DIEMDATMON'
	COMMIT

GO
/****** Object:  StoredProcedure [dbo].[sp_SuaDiem]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_SuaDiem](@mahs char(5), @mamon char(4), @mahocky char(4), @malop char(5), 
						@mieng float, @diem15p float, @diem1tiet float, @diemthi float)
AS
	DECLARE @mabangdiemmon char(7)
	BEGIN TRAN
		IF (@mieng = -1)
			SET @mieng = NULL
		IF (@diem15p = -1)
			SET @diem15p = NULL
		IF (@diem1tiet = -1)
			SET @diem1tiet = NULL
		IF (@diemthi = -1)
			SET @diemthi = NULL
		SELECT * FROM CT_DIEMMON CTDM, BANGDIEMMON BDM, QUATRINHHOC QTH
		WHERE CTDM.MABANGDIEMMON = BDM.MABANGDIEMMON AND BDM.MAQTHOC = QTH.MAQTHOC
			AND BDM.MAMONHOC = @mamon AND QTH.MAHS = @mahs AND QTH.MALOP = @malop
		IF(@@ROWCOUNT = 0)
			ROLLBACK TRAN

		SELECT @mabangdiemmon = MABANGDIEMMON 
								FROM BANGDIEMMON BDM JOIN QUATRINHHOC QTH
								ON BDM.MAQTHOC = QTH.MAQTHOC
								WHERE QTH.MAHS = @mahs AND QTH.MALOP = @malop AND BDM.MAMONHOC = @mamon AND QTH.MAHK = @mahocky

		UPDATE CT_DIEMMON
		SET DIEM = @mieng
		WHERE MALHKT = 'LHKT01' AND MABANGDIEMMON = @mabangdiemmon
		IF(@@ERROR<>0)
			ROLLBACK TRANSACTION

		UPDATE CT_DIEMMON
		SET DIEM = @diem15p
		WHERE MALHKT = 'LHKT02' AND MABANGDIEMMON = @mabangdiemmon
		IF(@@ERROR<>0)
			ROLLBACK TRANSACTION

		UPDATE CT_DIEMMON
		SET DIEM = @diem1tiet
		WHERE MALHKT = 'LHKT03' AND MABANGDIEMMON = @mabangdiemmon
		IF(@@ERROR<>0)
			ROLLBACK TRANSACTION

		UPDATE CT_DIEMMON
		SET DIEM = @diemthi
		WHERE MALHKT = 'LHKT04' AND MABANGDIEMMON = @mabangdiemmon
		IF(@@ERROR<>0)
			ROLLBACK TRANSACTION						
	COMMIT


GO
/****** Object:  StoredProcedure [dbo].[sp_ThemQTH]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_ThemQTH](@mahs char(6), @malop char(5))
AS
	DECLARE @maQTHHK1 char(6)
	DECLARE @maQTHHK2 char(6)
	DECLARE @maBDM char(7)
	DECLARE @maMH char(4)
	DECLARE @maLHKT char(6)
	BEGIN
		BEGIN TRAN
				
				-- Kiểm tra tồn tại
				SELECT * FROM QUATRINHHOC QTH
						WHERE QTH.MAHS = @mahs AND QTH.MALOP = @malop
				IF(@@ROWCOUNT != 0)
					BEGIN
						ROLLBACK TRAN
						RETURN
					END

				-- Thêm Quá trình học (cho MAHK = HK01)

				SET @maQTHHK1 = dbo.AUTO_IDQTH()
				INSERT INTO QUATRINHHOC VALUES(@maQTHHK1, @mahs, @maLop, 'HK01', NULL)
				IF(@@ERROR<>0)
					ROLLBACK TRANSACTION

				SET @maQTHHK2 = dbo.AUTO_IDQTH()
				INSERT INTO QUATRINHHOC VALUES(@maQTHHK2, @mahs, @malop, 'HK02', NULL)
				IF(@@ERROR<>0)
					ROLLBACK TRANSACTION

				-- Thêm Bảng điểm môn + Thêm Chi tiết điểm môn
				DECLARE cursorMAMH CURSOR FOR 
				SELECT MAMONHOC FROM MONHOC 
				
				DECLARE cursorMALHKT SCROLL CURSOR FOR 
				SELECT MALHKT FROM LOAIHINHKIEMTRA

				OPEN cursorMAMH
				OPEN cursorMALHKT
				FETCH NEXT FROM cursorMAMH INTO @maMH --Đọc dòng đầu tiên
				WHILE @@FETCH_STATUS = 0	--Trong trường hợp còn bản ghi
				BEGIN
					SET @maBDM = dbo.AUTO_IDBDM()

					INSERT INTO BANGDIEMMON VALUES(@maBDM, @maQTHHK1, @maMH, NULL)
					FETCH FIRST FROM cursorMALHKT INTO @maLHKT
					WHILE @@FETCH_STATUS = 0
					BEGIN
						INSERT INTO CT_DIEMMON VALUES(@maBDM, @maLHKT, NULL)
						FETCH NEXT FROM cursorMALHKT INTO @maLHKT
					END

					SET @maBDM = dbo.AUTO_IDBDM()
					INSERT INTO BANGDIEMMON VALUES(@maBDM, @maQTHHK2, @maMH, NULL)
					
					FETCH FIRST FROM cursorMALHKT INTO @maLHKT
					WHILE @@FETCH_STATUS = 0
					BEGIN
						INSERT INTO CT_DIEMMON VALUES(@maBDM, @maLHKT, NULL)
						FETCH NEXT FROM cursorMALHKT INTO @maLHKT
					END

					FETCH NEXT FROM cursorMAMH INTO @maMH
				END
				CLOSE cursorMAMH 
				DEALLOCATE cursorMAMH
				CLOSE cursorMALHKT
				DEALLOCATE cursorMALHKT
				IF (@@ERROR <> 0)
					ROLLBACK TRANSACTION
				-- Thêm chi tiết điểm môn
		COMMIT
	END


GO
/****** Object:  StoredProcedure [dbo].[sp_ThemQTH1HocKy]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_ThemQTH1HocKy](@mahs char(6), @malop char(5), @mahk char(4))
AS
	DECLARE @maQTHHK char(6)
	DECLARE @maBDM char(7)
	DECLARE @maMH char(4)
	DECLARE @maLHKT char(6)
	BEGIN
		BEGIN TRAN
				
				-- Kiểm tra tồn tại
				SELECT * FROM QUATRINHHOC QTH
						WHERE QTH.MAHS = @mahs AND QTH.MALOP = @malop AND MAHK = @mahk
				IF(@@ROWCOUNT != 0)
					BEGIN
						ROLLBACK TRAN
						RETURN
					END

				-- Thêm Quá trình học

				SET @maQTHHK = dbo.AUTO_IDQTH()
				INSERT INTO QUATRINHHOC VALUES(@maQTHHK, @mahs, @maLop, @mahk, NULL)
				IF(@@ERROR<>0)
					ROLLBACK TRANSACTION

				-- Thêm Bảng điểm môn + Thêm Chi tiết điểm môn
				DECLARE cursorMAMH CURSOR FOR 
				SELECT MAMONHOC FROM MONHOC 
				
				DECLARE cursorMALHKT SCROLL CURSOR FOR 
				SELECT MALHKT FROM LOAIHINHKIEMTRA

				OPEN cursorMAMH
				OPEN cursorMALHKT
				FETCH NEXT FROM cursorMAMH INTO @maMH --Đọc dòng đầu tiên
				WHILE @@FETCH_STATUS = 0	--Trong trường hợp còn bản ghi
				BEGIN
					SET @maBDM = dbo.AUTO_IDBDM()

					INSERT INTO BANGDIEMMON VALUES(@maBDM, @maQTHHK, @maMH, NULL)
					FETCH FIRST FROM cursorMALHKT INTO @maLHKT
					WHILE @@FETCH_STATUS = 0
					BEGIN
						INSERT INTO CT_DIEMMON VALUES(@maBDM, @maLHKT, NULL)
						FETCH NEXT FROM cursorMALHKT INTO @maLHKT
					END

					FETCH NEXT FROM cursorMAMH INTO @maMH
				END
				CLOSE cursorMAMH 
				DEALLOCATE cursorMAMH
				CLOSE cursorMALHKT
				DEALLOCATE cursorMALHKT
				IF (@@ERROR <> 0)
					ROLLBACK TRANSACTION
				-- Thêm chi tiết điểm môn
		COMMIT
	END
GO
/****** Object:  StoredProcedure [dbo].[sp_TimHSTheoTen]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_TimHSTheoTen](@s nvarchar(50))
AS
	BEGIN
		SELECT * FROM HOCSINH WHERE HOTEN LIKE '%' + @s + '%'
	END


GO
/****** Object:  StoredProcedure [dbo].[sp_XoaHocSinh]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_XoaHocSinh](@mahs char(5))
AS
	BEGIN
		BEGIN TRAN
			---- Xóa Quá trình học
			IF(EXISTS (SELECT * FROM QUATRINHHOC WHERE MAHS = @mahs))
				BEGIN
					exec sp_XoaQuaTrinhHoc @mahs
				END

			---- Xóa thông tin học sinh
			DELETE FROM HOCSINH WHERE HOCSINH.MAHS = @mahs
			IF(@@ERROR<>0)
				ROLLBACK TRANSACTION

		COMMIT
	END



GO
/****** Object:  StoredProcedure [dbo].[sp_XoaQuaTrinhHoc]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_XoaQuaTrinhHoc](@mahs char(5))
AS
	BEGIN TRAN
		-- Xóa Chi tiết điểm môn
		BEGIN
			DELETE FROM CT_DIEMMON WHERE MABANGDIEMMON IN (
			SELECT MABANGDIEMMON FROM BANGDIEMMON WHERE BANGDIEMMON.MAQTHOC IN
				(SELECT MAQTHOC FROM QUATRINHHOC WHERE @mahs = QUATRINHHOC.MAHS)
			)
			IF(@@ERROR<>0)
				ROLLBACK TRANSACTION
		END

		-- Xóa bảng điểm môn
		BEGIN
			DELETE FROM BANGDIEMMON WHERE BANGDIEMMON.MAQTHOC IN
				(SELECT MAQTHOC FROM QUATRINHHOC WHERE @mahs = QUATRINHHOC.MAHS)
			IF(@@ERROR<>0)
				ROLLBACK TRANSACTION
		END

		---- Xóa quá trình học
		BEGIN
			DELETE FROM QUATRINHHOC WHERE QUATRINHHOC.MAHS = @mahs
			IF(@@ERROR<>0)
				ROLLBACK TRAN
		END
	COMMIT


GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDBCTKM]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---- TABLE BAOCAOTONGKETMON
CREATE FUNCTION [dbo].[AUTO_IDBCTKM]()-- Tạo hàm Tự động sinh id Báo cáo tổng kết môn
RETURNS VARCHAR(7)
AS
BEGIN
	DECLARE @ID VARCHAR(7)
	IF (SELECT COUNT(MABCTKMON) FROM BAOCAOTONGKETMON) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MABCTKMON, 2)) FROM BAOCAOTONGKETMON
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'BCTKM0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'BCTKM' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END



GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDBDM]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---- TABLE BANGDIEMMON
CREATE FUNCTION [dbo].[AUTO_IDBDM]()-- Tạo hàm Tự động sinh id Bảng điểm môn
RETURNS VARCHAR(7)
AS
BEGIN
	DECLARE @ID VARCHAR(7)
	IF (SELECT COUNT(MABANGDIEMMON) FROM BANGDIEMMON) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MABANGDIEMMON, 4)) FROM BANGDIEMMON
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'BDM000' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'BDM00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 99 THEN 'BDM0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 999 THEN 'BDM' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END



GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDHK]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---- TABLE HOCKY
CREATE FUNCTION [dbo].[AUTO_IDHK]()-- Tạo hàm Tự động sinh id Học kỳ
RETURNS VARCHAR(4)
AS
BEGIN
	DECLARE @ID VARCHAR(4)
	IF (SELECT COUNT(MAHK) FROM HOCKY) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MAHK, 2)) FROM HOCKY
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'HK0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'HK' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END



GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDHS]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

---- TABLE HOCSINH
CREATE FUNCTION [dbo].[AUTO_IDHS]()-- Tạo hàm Tự động sinh id Hoc Sinh
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MAHS) FROM HOCSINH) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MAHS, 3)) FROM HOCSINH
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'HS00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'HS0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 99 THEN 'HS' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END



GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDKHOI]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---- TABLE KHOILOP
CREATE FUNCTION [dbo].[AUTO_IDKHOI]() -- Tạo hàm Tự động sinh id Khối
RETURNS VARCHAR(6)
AS
BEGIN
	DECLARE @ID VARCHAR(6)
	IF (SELECT COUNT(MAKHOI) FROM KHOILOP) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MAKHOI, 2)) FROM KHOILOP
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'KHOI0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'KHOI' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END



GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDLHKT]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---- TABLE LOAIHINHKIEMTRA
CREATE FUNCTION [dbo].[AUTO_IDLHKT]() -- Tạo hàm Tự động sinh id Loại hình kiểm tra
RETURNS VARCHAR(6)
AS
BEGIN
	DECLARE @ID VARCHAR(6)
	IF (SELECT COUNT(MALHKT) FROM LOAIHINHKIEMTRA) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MALHKT, 2)) FROM LOAIHINHKIEMTRA
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'LHKT0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'LHKT' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END



GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDLOP]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---- TABLE LOP
CREATE FUNCTION [dbo].[AUTO_IDLOP]() -- Tạo hàm Tự động sinh id Lớp
RETURNS VARCHAR(5)
AS
BEGIN
	DECLARE @ID VARCHAR(5)
	IF (SELECT COUNT(MALOP) FROM LOP) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MALOP, 2)) FROM LOP
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'LOP0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'LOP' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END



GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDMONHOC]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


---- TABLE MONHOC
CREATE FUNCTION [dbo].[AUTO_IDMONHOC]() -- Tạo hàm Tự động sinh id Môn Học
RETURNS VARCHAR(4)
AS
BEGIN
	DECLARE @ID VARCHAR(4)
	IF (SELECT COUNT(MAMONHOC) FROM MONHOC) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MAMONHOC, 2)) FROM MONHOC
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'MH0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'MH' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END



GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDNAMHOC]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
 ---- TABLE NAMHOC
CREATE FUNCTION [dbo].[AUTO_IDNAMHOC]() -- Tạo hàm Tự động sinh id Năm Học
RETURNS VARCHAR(4)
AS
BEGIN
	DECLARE @ID VARCHAR(4)
	IF (SELECT COUNT(MANAMHOC) FROM NAMHOC) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MANAMHOC, 2)) FROM NAMHOC
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'NH0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'NH' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END



GO
/****** Object:  UserDefinedFunction [dbo].[AUTO_IDQTH]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 
 ---- TABLE QUATRINHHOC
CREATE FUNCTION [dbo].[AUTO_IDQTH]() -- Tạo hàm Tự động sinh id Quá trình học
RETURNS VARCHAR(6)
AS
BEGIN
	DECLARE @ID VARCHAR(6)
	IF (SELECT COUNT(MAQTHOC) FROM QUATRINHHOC) = 0
		SET @ID = '0'
	ELSE
		SELECT @ID = MAX(RIGHT(MAQTHOC, 3)) FROM QUATRINHHOC
		SELECT @ID = CASE
			WHEN @ID >= 0 and @ID < 9 THEN 'QTH00' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 9 THEN 'QTH0' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
			WHEN @ID >= 99 THEN 'QTH' + CONVERT(CHAR, CONVERT(INT, @ID) + 1)
		END
	RETURN @ID
END



GO
/****** Object:  UserDefinedFunction [dbo].[func_LayDiemTongKetHocKy]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[func_LayDiemTongKetHocKy] (@mahs char(5), @mahocky char(4), @manamhoc char(4))
RETURNS float
AS
	BEGIN
		DECLARE @mabangdiemmon char(7)
		DECLARE @maqth char(6)
		DECLARE @diem float
		
		SELECT @maqth = MAQTHOC 
		FROM QUATRINHHOC 
		WHERE MAHS = @mahs AND MAHK = @mahocky
		AND MALOP IN (SELECT MALOP FROM LOP
						WHERE MAKHOI IN (SELECT MAKHOI FROM KHOILOP
										WHERE MANAM = @manamhoc))

		SELECT @diem = DIEMTBHK
		FROM QUATRINHHOC
		WHERE MAQTHOC = @maqth

		RETURN @diem
	END

GO
/****** Object:  UserDefinedFunction [dbo].[func_LayDiemTongKetMonHoc]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE function [dbo].[func_LayDiemTongKetMonHoc] (@mahs char(5), @mamonhoc char(4), @mahocky char(4), @manamhoc char(4))
RETURNS float
AS
	BEGIN
		DECLARE @mabangdiemmon char(7)
		DECLARE @maqth char(6)
		DECLARE @diem float
		
		SELECT @maqth = MAQTHOC 
		FROM QUATRINHHOC 
		WHERE MAHS = @mahs AND MAHK = @mahocky
		AND MALOP IN (SELECT MALOP FROM LOP
						WHERE MAKHOI IN (SELECT MAKHOI FROM KHOILOP
										WHERE MANAM = @manamhoc))

		SELECT @mabangdiemmon = MABANGDIEMMON
		FROM BANGDIEMMON
		WHERE MAQTHOC = @maqth

		SELECT @diem = DIEMTB
		FROM BANGDIEMMON
		WHERE MABANGDIEMMON = @mabangdiemmon AND MAMONHOC = @mamonhoc

		RETURN @diem
	END

GO
/****** Object:  Table [dbo].[BANGDIEMMON]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BANGDIEMMON](
	[MABANGDIEMMON] [char](7) NOT NULL,
	[MAQTHOC] [char](6) NULL,
	[MAMONHOC] [char](4) NULL,
	[DIEMTB] [real] NULL,
 CONSTRAINT [PK_BANGDIEMMON] PRIMARY KEY CLUSTERED 
(
	[MABANGDIEMMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BAOCAOTONGKETHK]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BAOCAOTONGKETHK](
	[MAHK] [char](4) NOT NULL,
	[MALOP] [char](5) NOT NULL,
	[SOLUONGDAT] [int] NULL,
	[TYLE] [real] NULL,
 CONSTRAINT [PK_BAOCAOTONGKETHK] PRIMARY KEY CLUSTERED 
(
	[MAHK] ASC,
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BAOCAOTONGKETMON]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BAOCAOTONGKETMON](
	[MABCTKMON] [char](7) NOT NULL,
	[MAMONHOC] [char](4) NULL,
	[MAHOCKY] [char](4) NULL,
 CONSTRAINT [PK_BAOCAOTONGKETMON] PRIMARY KEY CLUSTERED 
(
	[MABCTKMON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_BCTKMON]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_BCTKMON](
	[MABCTKMON] [char](7) NOT NULL,
	[MALOP] [char](5) NOT NULL,
	[SOLUONGDAT] [int] NULL,
	[TYLE] [real] NULL,
 CONSTRAINT [PK_CT_BCTKMON] PRIMARY KEY CLUSTERED 
(
	[MABCTKMON] ASC,
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CT_DIEMMON]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CT_DIEMMON](
	[MABANGDIEMMON] [char](7) NOT NULL,
	[MALHKT] [char](6) NOT NULL,
	[DIEM] [real] NULL,
 CONSTRAINT [PK_CT_DIEMMON] PRIMARY KEY CLUSTERED 
(
	[MABANGDIEMMON] ASC,
	[MALHKT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOCKY]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOCKY](
	[MAHK] [char](4) NOT NULL,
	[TENHOCKY] [nvarchar](50) NULL,
 CONSTRAINT [PK_HOCKY] PRIMARY KEY CLUSTERED 
(
	[MAHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOCSINH]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOCSINH](
	[MAHS] [char](5) NOT NULL,
	[HOTEN] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](50) NULL,
	[NGAYSINH] [datetime] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAHS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHOILOP]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHOILOP](
	[MAKHOI] [char](6) NOT NULL,
	[MANAM] [char](4) NULL,
	[TENKHOI] [nvarchar](50) NULL,
	[SOLOP] [int] NULL,
 CONSTRAINT [PK_KHOILOP] PRIMARY KEY CLUSTERED 
(
	[MAKHOI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIHINHKIEMTRA]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIHINHKIEMTRA](
	[MALHKT] [char](6) NOT NULL,
	[TENLHKT] [nvarchar](50) NULL,
	[HESO] [int] NULL,
 CONSTRAINT [PK_LOAIHINHKIEMTRA] PRIMARY KEY CLUSTERED 
(
	[MALHKT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOP]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOP](
	[MALOP] [char](5) NOT NULL,
	[TENLOP] [nvarchar](50) NULL,
	[MAKHOI] [char](6) NULL,
	[SISO] [int] NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MALOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MONHOC]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MONHOC](
	[MAMONHOC] [char](4) NOT NULL,
	[TENMONHOC] [nvarchar](50) NULL,
 CONSTRAINT [PK_MONHOC] PRIMARY KEY CLUSTERED 
(
	[MAMONHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NAMHOC]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NAMHOC](
	[MANAMHOC] [char](4) NOT NULL,
	[TENNAMHOC] [varchar](50) NULL,
	[NAM1] [int] NULL,
	[NAM2] [int] NULL,
 CONSTRAINT [PK_NAMHOC] PRIMARY KEY CLUSTERED 
(
	[MANAMHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QUATRINHHOC]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUATRINHHOC](
	[MAQTHOC] [char](6) NOT NULL,
	[MAHS] [char](5) NULL,
	[MALOP] [char](5) NULL,
	[MAHK] [char](4) NULL,
	[DIEMTBHK] [real] NULL,
 CONSTRAINT [PK_QUATRINHHOC_1] PRIMARY KEY CLUSTERED 
(
	[MAQTHOC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THAMSO]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAMSO](
	[TENTHAMSO] [nvarchar](50) NOT NULL,
	[GIATRI] [int] NULL,
 CONSTRAINT [PK_THAMSO] PRIMARY KEY CLUSTERED 
(
	[TENTHAMSO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[BANGDIEMMON] ([MABANGDIEMMON], [MAQTHOC], [MAMONHOC], [DIEMTB]) VALUES (N'BDM0001', N'QTH004', N'MH01', 8.86)
INSERT [dbo].[BANGDIEMMON] ([MABANGDIEMMON], [MAQTHOC], [MAMONHOC], [DIEMTB]) VALUES (N'BDM0002', N'QTH012', N'MH01', 9.42)
INSERT [dbo].[BANGDIEMMON] ([MABANGDIEMMON], [MAQTHOC], [MAMONHOC], [DIEMTB]) VALUES (N'BDM0003', N'QTH014', N'MH01', NULL)
INSERT [dbo].[CT_DIEMMON] ([MABANGDIEMMON], [MALHKT], [DIEM]) VALUES (N'BDM0001', N'LHKT01', 4)
INSERT [dbo].[CT_DIEMMON] ([MABANGDIEMMON], [MALHKT], [DIEM]) VALUES (N'BDM0001', N'LHKT02', 7)
INSERT [dbo].[CT_DIEMMON] ([MABANGDIEMMON], [MALHKT], [DIEM]) VALUES (N'BDM0001', N'LHKT03', 10)
GO
INSERT [dbo].[HOCKY] ([MAHK], [TENHOCKY]) VALUES (N'HK01', N'Học kỳ 1')
INSERT [dbo].[HOCKY] ([MAHK], [TENHOCKY]) VALUES (N'HK02', N'Học kỳ 2')
INSERT [dbo].[HOCSINH] ([MAHS], [HOTEN], [GIOITINH], [NGAYSINH], [DIACHI], [EMAIL]) VALUES (N'HS001', N'Lê Quốc Phương', N'Nam', CAST(0x00008D5F00000000 AS DateTime), N'Đà Nẵng', N'17520000@gm.uit.edu.vn')
INSERT [dbo].[HOCSINH] ([MAHS], [HOTEN], [GIOITINH], [NGAYSINH], [DIACHI], [EMAIL]) VALUES (N'HS002', N'Nguyễn Lê Việt Hoàng', N'Nam', CAST(0x00008D8D00000000 AS DateTime), N'Quế Sơn, Quảng Nam', N'17520513@gm.uit.edu.vn')
INSERT [dbo].[HOCSINH] ([MAHS], [HOTEN], [GIOITINH], [NGAYSINH], [DIACHI], [EMAIL]) VALUES (N'HS003', N'Nguyễn Phi Hùng', N'Nam', CAST(0x00008D5F00000000 AS DateTime), N'Bố Trạch, Quảng Bình', N'17520064@gm.uit.edu.vn')
INSERT [dbo].[KHOILOP] ([MAKHOI], [MANAM], [TENKHOI], [SOLOP]) VALUES (N'KHOI01', N'NH01', N'10', 4)
INSERT [dbo].[KHOILOP] ([MAKHOI], [MANAM], [TENKHOI], [SOLOP]) VALUES (N'KHOI02', N'NH01', N'11', 3)
INSERT [dbo].[KHOILOP] ([MAKHOI], [MANAM], [TENKHOI], [SOLOP]) VALUES (N'KHOI03', N'NH01', N'12', 3)
INSERT [dbo].[LOAIHINHKIEMTRA] ([MALHKT], [TENLHKT], [HESO]) VALUES (N'LHKT01', N'Điểm Miệng', 1)
INSERT [dbo].[LOAIHINHKIEMTRA] ([MALHKT], [TENLHKT], [HESO]) VALUES (N'LHKT02', N'Điểm 15p', 1)
INSERT [dbo].[LOAIHINHKIEMTRA] ([MALHKT], [TENLHKT], [HESO]) VALUES (N'LHKT03', N'Điểm 1 tiết', 2)
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKHOI], [SISO]) VALUES (N'LOP01', N'10/1', N'KHOI01', 4)
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKHOI], [SISO]) VALUES (N'LOP02', N'10/2', N'KHOI01', 1)
INSERT [dbo].[LOP] ([MALOP], [TENLOP], [MAKHOI], [SISO]) VALUES (N'LOP03', N'10/3', N'KHOI01', 0)
INSERT [dbo].[MONHOC] ([MAMONHOC], [TENMONHOC]) VALUES (N'MH01', N'Toán')
INSERT [dbo].[MONHOC] ([MAMONHOC], [TENMONHOC]) VALUES (N'MH02', N'Vật Lý')
INSERT [dbo].[MONHOC] ([MAMONHOC], [TENMONHOC]) VALUES (N'MH03', N'Hóa Học')
INSERT [dbo].[NAMHOC] ([MANAMHOC], [TENNAMHOC], [NAM1], [NAM2]) VALUES (N'NH01', N'2017-2018', 2017, 2018)
INSERT [dbo].[NAMHOC] ([MANAMHOC], [TENNAMHOC], [NAM1], [NAM2]) VALUES (N'NH02', N'2018-2019', 2018, 2019)
INSERT [dbo].[QUATRINHHOC] ([MAQTHOC], [MAHS], [MALOP], [MAHK], [DIEMTBHK]) VALUES (N'QTH001', N'HS001', N'LOP07', N'HK01', NULL)
INSERT [dbo].[QUATRINHHOC] ([MAQTHOC], [MAHS], [MALOP], [MAHK], [DIEMTBHK]) VALUES (N'QTH002', N'HS002', N'LOP05', N'HK01', NULL)
INSERT [dbo].[QUATRINHHOC] ([MAQTHOC], [MAHS], [MALOP], [MAHK], [DIEMTBHK]) VALUES (N'QTH003', N'HS003', N'LOP15', N'HK01', NULL)
INSERT [dbo].[THAMSO] ([TENTHAMSO], [GIATRI]) VALUES (N'DIEMDAT', 5)
INSERT [dbo].[THAMSO] ([TENTHAMSO], [GIATRI]) VALUES (N'DIEMDATMON', 5)
INSERT [dbo].[THAMSO] ([TENTHAMSO], [GIATRI]) VALUES (N'DIEMTOIDA', 10)
ALTER TABLE [dbo].[BANGDIEMMON] ADD  DEFAULT ([dbo].[AUTO_IDBDM]()) FOR [MABANGDIEMMON]
GO
ALTER TABLE [dbo].[BAOCAOTONGKETMON] ADD  DEFAULT ([dbo].[AUTO_IDBCTKM]()) FOR [MABCTKMON]
GO
ALTER TABLE [dbo].[HOCKY] ADD  DEFAULT ([dbo].[AUTO_IDHK]()) FOR [MAHK]
GO
ALTER TABLE [dbo].[HOCSINH] ADD  CONSTRAINT [IDHS]  DEFAULT ([dbo].[AUTO_IDHS]()) FOR [MAHS]
GO
ALTER TABLE [dbo].[KHOILOP] ADD  DEFAULT ([dbo].[AUTO_IDKHOI]()) FOR [MAKHOI]
GO
ALTER TABLE [dbo].[LOAIHINHKIEMTRA] ADD  DEFAULT ([dbo].[AUTO_IDLHKT]()) FOR [MALHKT]
GO
ALTER TABLE [dbo].[LOP] ADD  DEFAULT ([dbo].[AUTO_IDLOP]()) FOR [MALOP]
GO
ALTER TABLE [dbo].[MONHOC] ADD  DEFAULT ([dbo].[AUTO_IDMONHOC]()) FOR [MAMONHOC]
GO
ALTER TABLE [dbo].[NAMHOC] ADD  DEFAULT ([dbo].[AUTO_IDNAMHOC]()) FOR [MANAMHOC]
GO
ALTER TABLE [dbo].[QUATRINHHOC] ADD  DEFAULT ([dbo].[AUTO_IDQTH]()) FOR [MAQTHOC]
GO
ALTER TABLE [dbo].[BANGDIEMMON]  WITH CHECK ADD  CONSTRAINT [FK_BANGDIEMMON_MONHOC] FOREIGN KEY([MAMONHOC])
REFERENCES [dbo].[MONHOC] ([MAMONHOC])
GO
ALTER TABLE [dbo].[BANGDIEMMON] CHECK CONSTRAINT [FK_BANGDIEMMON_MONHOC]
GO
ALTER TABLE [dbo].[BANGDIEMMON]  WITH CHECK ADD  CONSTRAINT [FK_BANGDIEMMON_QUATRINHHOC] FOREIGN KEY([MAQTHOC])
REFERENCES [dbo].[QUATRINHHOC] ([MAQTHOC])
GO
ALTER TABLE [dbo].[BANGDIEMMON] CHECK CONSTRAINT [FK_BANGDIEMMON_QUATRINHHOC]
GO
ALTER TABLE [dbo].[BAOCAOTONGKETHK]  WITH CHECK ADD  CONSTRAINT [FK_BAOCAOTONGKETHK_HOCKY] FOREIGN KEY([MAHK])
REFERENCES [dbo].[HOCKY] ([MAHK])
GO
ALTER TABLE [dbo].[BAOCAOTONGKETHK] CHECK CONSTRAINT [FK_BAOCAOTONGKETHK_HOCKY]
GO
ALTER TABLE [dbo].[BAOCAOTONGKETHK]  WITH CHECK ADD  CONSTRAINT [FK_BAOCAOTONGKETHK_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[BAOCAOTONGKETHK] CHECK CONSTRAINT [FK_BAOCAOTONGKETHK_LOP]
GO
ALTER TABLE [dbo].[BAOCAOTONGKETMON]  WITH CHECK ADD  CONSTRAINT [FK_BAOCAOTONGKETMON_HOCKY] FOREIGN KEY([MAHOCKY])
REFERENCES [dbo].[HOCKY] ([MAHK])
GO
ALTER TABLE [dbo].[BAOCAOTONGKETMON] CHECK CONSTRAINT [FK_BAOCAOTONGKETMON_HOCKY]
GO
ALTER TABLE [dbo].[BAOCAOTONGKETMON]  WITH CHECK ADD  CONSTRAINT [FK_BAOCAOTONGKETMON_MONHOC] FOREIGN KEY([MAMONHOC])
REFERENCES [dbo].[MONHOC] ([MAMONHOC])
GO
ALTER TABLE [dbo].[BAOCAOTONGKETMON] CHECK CONSTRAINT [FK_BAOCAOTONGKETMON_MONHOC]
GO
ALTER TABLE [dbo].[CT_BCTKMON]  WITH CHECK ADD  CONSTRAINT [FK_CT_BCTKMON_BAOCAOTONGKETMON] FOREIGN KEY([MABCTKMON])
REFERENCES [dbo].[BAOCAOTONGKETMON] ([MABCTKMON])
GO
ALTER TABLE [dbo].[CT_BCTKMON] CHECK CONSTRAINT [FK_CT_BCTKMON_BAOCAOTONGKETMON]
GO
ALTER TABLE [dbo].[CT_BCTKMON]  WITH CHECK ADD  CONSTRAINT [FK_CT_BCTKMON_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[CT_BCTKMON] CHECK CONSTRAINT [FK_CT_BCTKMON_LOP]
GO
ALTER TABLE [dbo].[CT_DIEMMON]  WITH CHECK ADD  CONSTRAINT [FK_CT_DIEMMON_BANGDIEMMON] FOREIGN KEY([MABANGDIEMMON])
REFERENCES [dbo].[BANGDIEMMON] ([MABANGDIEMMON])
GO
ALTER TABLE [dbo].[CT_DIEMMON] CHECK CONSTRAINT [FK_CT_DIEMMON_BANGDIEMMON]
GO
ALTER TABLE [dbo].[CT_DIEMMON]  WITH CHECK ADD  CONSTRAINT [FK_CT_DIEMMON_LOAIHINHKIEMTRA] FOREIGN KEY([MALHKT])
REFERENCES [dbo].[LOAIHINHKIEMTRA] ([MALHKT])
GO
ALTER TABLE [dbo].[CT_DIEMMON] CHECK CONSTRAINT [FK_CT_DIEMMON_LOAIHINHKIEMTRA]
GO
ALTER TABLE [dbo].[KHOILOP]  WITH CHECK ADD  CONSTRAINT [FK_KHOILOP_NAMHOC] FOREIGN KEY([MANAM])
REFERENCES [dbo].[NAMHOC] ([MANAMHOC])
GO
ALTER TABLE [dbo].[KHOILOP] CHECK CONSTRAINT [FK_KHOILOP_NAMHOC]
GO
ALTER TABLE [dbo].[LOP]  WITH CHECK ADD  CONSTRAINT [FK_LOP_KHOILOP] FOREIGN KEY([MAKHOI])
REFERENCES [dbo].[KHOILOP] ([MAKHOI])
GO
ALTER TABLE [dbo].[LOP] CHECK CONSTRAINT [FK_LOP_KHOILOP]
GO
ALTER TABLE [dbo].[QUATRINHHOC]  WITH CHECK ADD  CONSTRAINT [FK_QUATRINHHOC_HOCKY] FOREIGN KEY([MAHK])
REFERENCES [dbo].[HOCKY] ([MAHK])
GO
ALTER TABLE [dbo].[QUATRINHHOC] CHECK CONSTRAINT [FK_QUATRINHHOC_HOCKY]
GO
ALTER TABLE [dbo].[QUATRINHHOC]  WITH CHECK ADD  CONSTRAINT [FK_QUATRINHHOC_HOCSINH] FOREIGN KEY([MAHS])
REFERENCES [dbo].[HOCSINH] ([MAHS])
GO
ALTER TABLE [dbo].[QUATRINHHOC] CHECK CONSTRAINT [FK_QUATRINHHOC_HOCSINH]
GO
ALTER TABLE [dbo].[QUATRINHHOC]  WITH CHECK ADD  CONSTRAINT [FK_QUATRINHHOC_LOP] FOREIGN KEY([MALOP])
REFERENCES [dbo].[LOP] ([MALOP])
GO
ALTER TABLE [dbo].[QUATRINHHOC] CHECK CONSTRAINT [FK_QUATRINHHOC_LOP]
GO
/****** Object:  Trigger [dbo].[trg_ThemSuaQTH]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---- Trigger Thêm, Sửa Quá trình học (KTra Sĩ số -> cập nhập sĩ số lớp)
CREATE TRIGGER [dbo].[trg_ThemSuaQTH] ON [dbo].[QUATRINHHOC]
FOR INSERT, UPDATE
AS
	DECLARE @siSoHienTai int
	DECLARE @siSoToiDa int
	DECLARE @mahs char(5)
	DECLARE @maLop1 char(5)
	DECLARE @maLop2 char(5)
	BEGIN
		SELECT @mahs = MAHS, @maLop1 = MALOP FROM INSERTED
		SELECT @maLop2 = MALOP FROM DELETED
		SELECT @siSoHienTai = SISO FROM LOP WHERE LOP.MALOP = @maLop1
		SELECT @siSoToiDa = GIATRI FROM THAMSO WHERE TENTHAMSO = 'SISOTOIDA'
		IF (@siSoHienTai + 1 > @siSoToiDa)
			ROLLBACK TRANSACTION
		ELSE
		BEGIN
			SELECT * FROM QUATRINHHOC 
					WHERE MAHS = @mahs AND MALOP = @maLop1 AND MAHK = 'HK01'
			IF(@@ROWCOUNT = 0)
				BEGIN
					---- Cập nhập lại sĩ số lớp
					UPDATE LOP
					SET SISO = SISO + 1
					WHERE LOP.MALOP = @maLop1
			
					UPDATE LOP
					SET SISO = SISO - 1
					WHERE LOP.MALOP = @maLop2
				END
		END
	END
GO
/****** Object:  Trigger [dbo].[trg_XoaQTH]    Script Date: 12/06/2019 03:19:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_XoaQTH] ON [dbo].[QUATRINHHOC]
FOR DELETE
AS
	DECLARE @maLop char(5)
	BEGIN
		SELECT @maLop = MALOP FROM DELETED
		---- Cập nhập lại sĩ số lớp
		UPDATE LOP
		SET SISO = SISO - 1
		WHERE LOP.MALOP = @maLop
	END
GO
USE [master]
GO
