<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NMCNPM_QLHS.Properties.Settings.QLHSConnectionString"
            connectionString="Data Source=(local);Initial Catalog=QLHS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="NMCNPM_QLHS.Properties.Settings.QLHSConnectionString1"
            connectionString="Data Source=DESKTOP-PHBLNHE\SQLEXPRESS;Initial Catalog=QLHS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="NMCNPM_QLHS.Properties.Settings.QLHSConnectionString2"
            connectionString="Data Source=VIETHOANG2603;Initial Catalog=QLHS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="NMCNPM_QLHS.Properties.Settings.QLHSConnectionString3"
            connectionString="Data Source=SUPER;Initial Catalog=QLHS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>